.doom.d/webkit/cookies
.doom.d/webkit/history
auto-save-list/
elpa/
eshell/
org-persist/
transient/
tree-sitter/
undo-fu-session/
url/
history
ido.last
package-quickstart.el
package-quickstart.elc
places
projects
recentf
tramp