.doom.d/webkit/cookies
.doom.d/webkit/history
auto-save-list/
elpa/
eshell/
gnus/cache/
org-persist/
transient/
tree-sitter/
tutorial/
undo-fu-session/
url/
history
ido.last
.emacs.desktop
.emacs.desktop.lock
.newsrc.eld
network-security.data
nov-places
package-quickstart.el
package-quickstart.elc
places
projects
recentf
tramp
